In [1]:
# exercise 1 print name, student number, email
print("BOB")
print("ST1001")
print("bob@gmail.com")

BOB
ST1001
bob@gmail.com

In [2]:
#excercise 2 print name, student name, email in escape sequence
print("BOB\nST1001\nbob@gmail.com")

BOB
ST1001
bob@gmail.com

In [3]:
# Exercise 3: Perform basic arithmetic operations
num1 = 14
num2 = 7
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} / {num2} = {num1 / num2}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [4]:
# Exercise 4: Display numbers from 1 to 5 as steps
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [5]:
# Exercise 5: Print sentence with quotation marks and line break
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [6]:
# Exercise 6: Practice print statements
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")  # Octal representation of 'A'
print("\x65") # Hexadecimal representation of 'e'
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [9]:
# Exercise 7: Define variables, check types, and sum them
num = 23
textnum = "57"
decimal = 98.3
print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>

In [10]:
# Convert textnum to integer and sum the values
total_sum = num + int(textnum) + decimal
print("Sum:", total_sum)
print("Type of sum:", type(total_sum))

Sum: 178.3
Type of sum: <class 'float'>

In [12]:
# Exercise 8: Calculate the number of minutes in a year
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"The total number of minutes in a year is: {total_minutes}")

The total number of minutes in a year is: 525600

In [13]:
# Exercise 9: Ask for user input and print a greeting
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name:  sahla

Hi sahla, welcome to Python programming :)

In [14]:
# Exercise 10: Convert pounds to dollars
pounds = float(input("Please enter amount in pounds: "))
exchange_rate = 1.38  # Example rate, can be updated
dollars = pounds * exchange_rate
print(f"Â£{pounds} are ${dollars:.2f}")

Please enter amount in pounds:  sahla

ValueError: could not convert string to float: 'sahla'